.header {
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,66,171,1) 35%, rgba(0,150,209,1) 100%);
  padding-top: 5%;
  padding-bottom: 5%;
}

.img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

h3 {
  padding-bottom: 3%;
  border-bottom: 2px solid #006DC8;
}

h3, p, form, .art, .fun {
  text-align: center;
  margin: 5% 20%;
}

p {
  line-height: 2;
}

.input {
  margin-bottom: 5%;
}

img {
  width: 100%;
}
